button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;

  * {
    vertical-align: middle;
  }
}

@mixin button-base() {

  * {
    @include primary-font(500);
    @include font-size(14);

    @include mobile-down {
      @include font-size(12);
    }  
  }

 
  @include box-sizing();
  border-radius: 3px;
  text-transform: capitalize;
  min-width: 100px;
  overflow: hidden;
  text-align: center;
  position: relative;
  height: 45px;
  letter-spacing: 0.44px;
  line-height: 21px;

  @include mobile-down {
    min-width: initial;
  } 

  span {
    background: transparent;
  }
}

 
/*-------------------------------
  PRIMARY BUTTON
-------------------------------*/
.button-primary {

  @include button-base();
  padding: 0px 16px;
  border-radius: 24px;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,0.05);
  background-color: $b-bright-blue;
  border: solid 2px $b-bright-blue;
  color: $white;

  &-icon {
    fill: $white;
  }

  &:hover:not([disabled="disabled"]), &:focus {
    background-color: transparent;
    border: solid 2px $b-bright-blue;
    color: $b-bright-blue;

    .button-primary-icon {
      fill: $b-bright-blue;
    }
  }

  &:disabled,
  &[disabled]{
    background-color: $b-disabled-blue;
    border: solid 2px $b-disabled-blue;
    &:hover {
      cursor: not-allowed;
    }
  }
}


/*-------------------------------
  SECONDARY BUTTON
-------------------------------*/
.button-secondary {
  @include button-base();
  padding: 0px 16px;
  border-radius: 24px;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,0.05);
  background-color: transparent;
  color: $b-bright-blue;
  border: 2px $b-bright-blue solid;

  &-icon {
    fill: $b-bright-blue;
  }


  &:hover:not([disabled="disabled"]), &:focus {
    background-color: $b-bright-blue;
    border: solid 2px $b-bright-blue;
    color: $white;

    .button-secondary-icon {
      fill: $white;
    }
  }

  &:disabled,
  &[disabled]{
    background-color: $white;
    border: solid 2px $b-gray-disabled;
    color: $b-gray-disabled;
    &:hover {
      cursor: not-allowed;
    }
  }
}



/*-------------------------------
  TERTIARY BUTTON
-------------------------------*/
.button-tert {
  @include button-base();
  padding: 0px 16px;
  border-radius: 24px;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,0.05);
  background-color: $b-dark-blue;
  border: solid 2px $b-dark-blue;
  color: $white;

  &-icon {
    fill: $white;
  }

  &:hover:not([disabled="disabled"]), &:focus {
    background-color: $b-bright-blue;
    border: solid 2px $b-bright-blue;
    color: $white;

    .button-primary-icon {
      fill: $white;
    }
  }

  &:disabled,
  &[disabled]{
    background-color: $b-disabled-blue;
    border: solid 2px $b-disabled-blue;
    &:hover {
      cursor: not-allowed;
    }
  }
}


/*-------------------------------
  QUAD BUTTON
-------------------------------*/
.button-quad {
  @include button-base();
  padding: 0px 16px;
  border-radius: 24px;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,0.05);
  background-color: transparent;
  color: $b-dark-blue;
  border: 2px $b-dark-blue solid;

  &-icon {
    fill: $b-dark-blue;
  }


  &:hover:not([disabled="disabled"]), &:focus {
    background-color: $b-dark-blue;
    border: solid 2px $b-dark-blue;
    color: $white;

    .button-quad-icon {
      fill: $white;
    }
  }

  &:disabled,
  &[disabled]{
    background-color: $white;
    border: solid 2px $b-gray-disabled;
    color: $b-gray-disabled;
    &:hover {
      cursor: not-allowed;
    }
  }
}


/*-------------------------------
  FLAT BUTTON
-------------------------------*/

.button-flat {
  
  span {
    @include font-size(12);
    font-weight: $semi-bold-f;
    text-transform: capitalize;
    color: $b-dark-blue;
    letter-spacing: 0.38px;
  }

  &:disabled,
  &[disabled]{  
    color: $light-blue;
    &:hover {
      cursor: not-allowed;
    }
  }

  &:hover:not([disabled="disabled"]) {
    cursor: pointer;
    span {
      color: $b-bright-blue;
    }
    svg {
      fill: $b-bright-blue;
    }
  }
}


/*-------------------------------
  ICON BUTTON
-------------------------------*/
.icon-button {
  &:disabled,
  &[disabled]{  

    .icon-button-black,
    .icon-button-white {
      fill: $med-gray;
    }

    &:hover {
      cursor: not-allowed;
    }
  }

  &-black {
    fill: $black;
  }

  &-white {
    fill: $white;
  }

}



/*-------------------------------
  UNDERLINE TEXT BUTTON
-------------------------------*/
@mixin underline-button-base() { 
  @include font-size(12);
  font-weight: $semi-bold-f;
  letter-spacing: 0;
  line-height: 25px;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 19px;
    left: 0px;
    outline: none;
    width: 100%;
  }
}

.underline-button-primary {
  @include underline-button-base();
  color:$b-bright-blue;

  &:after {
    border: 0.5px solid lighten($b-bright-blue, 25%);
  }
}

.underline-button-secondary {
  @include underline-button-base();
  color:$b-dark-blue;

  &:after {
    border: 0.5px solid lighten($b-dark-blue, 30%);
  }
}


/*-------------------------------
  COOKIE BAR BUTTON
-------------------------------*/
#ba-cookie-dismiss {
  border-radius: 20px;
}

