.grid-sort-animation-item {
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.grid-sort-animation-move {
  transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.grid-sort-animation-enter-active,
.grid-sort-animation-leave-active {
  transition: all 0.3s ease;
}

.grid-sort-animation-enter,
.grid-sort-animation-leave-active,
.grid-sort-animation-leave-to {
  opacity: 0;
}
